.scoresheetcontainer {
  display:flex;
  flex-direction: column;;
  gap: 0.2rem;

  /* make it only as big as content */
  width: fit-content;

  /* center content and add padding to y axis */
  margin-left: auto;
  margin-right: auto;
  padding-block: 1rem;
}

.totalsContainer {
  display: flex;
  justify-content: center;
}

.cell {
  border-radius: 0.6rem;
  background-color: var(--mui-palette-background-default);
  color: var(--mui-palette-text-primary);
  display: flex;
  justify-content: end;

  /* styles for the label */
  > :first-child {
    flex: 1;
    text-align: right;
    padding-inline: 1rem;
  }
}

/* this is the score button at the end of the row */
.cellAppend {
  width: 3rem;
  text-align: center;
  /* we want the border to blend in wit the parent on the outer side
     for the purpose of the border */
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  
  border-left: 1px solid var(--mui-palette-divider);
}

.available {
  /* make the highlight a mix of bg-color and secondary */
  background-color: color-mix(in srgb,  
    var(--mui-palette-background-default) 90%,
    var(--mui-palette-secondary-main) 10%);

  /* give it a border */
  border: 1px solid;

  /* make the border color transparent */
  border-color: color-mix(in srgb, var(--mui-palette-secondary-main) 50%, transparent 50%);
}

.goodScore {
  /* make the highlight a stronger mix of bg-color and secondary */
  background-color: color-mix(in srgb,  
    var(--mui-palette-background-default) 75%,
    var(--mui-palette-secondary-main) 25%);
}

@media (prefers-color-scheme: dark) {
  /* do the same as before, but must be stronger 
      to get the same effect on black */
  .available {
    background-color: color-mix(in srgb,  
      var(--mui-palette-background-default) 80%,
      var(--mui-palette-secondary-main) 20%);
  }
  .goodScore {
    background-color: color-mix(in srgb,  
      var(--mui-palette-background-default) 60%,
      var(--mui-palette-secondary-main) 40%);
  }
}

/* the hidden button providing click functionality
   remove all default styling */
.cellButton {
  height:100%;
  width: 100%;
  background-color: transparent;
  border-width: 0;
  text-align: inherit;
  font-family: inherit;
  font-size: inherit;
  display: inherit;
  padding: 0 0 0 0;
}