/* leave space for dice so container doesn't grow and strink */
.workingHandContainer {
  height: 8.5rem;
}
/* at this width, roll button is on same line as dice */
@media (min-width: 30rem) {
  .workingHandContainer {
    height: 6rem;
  }
}

.workingHandBody {
  display: flex;
  /* TODO: use theme spacing */
  gap: 0.5rem 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; 
}

.whRolledDie {
  &button {
    /* remove default button styling */
    padding: 0px;
    border: 0;
    background-color: unset;

    /* so bg-color looks like an outline 
      always have it so that outlines are consistent */
    border-radius: 4px;
    
    &.selected {
      /* use bg color instead of outline so that focus-visible can use it
         border requires set size */
      /* SEE @media QUERY BELOW WHEN CHANGING */
      background: var(--mui-palette-primary-light);
    }

    &:focus-visible {
      /* important needed because of emotion stylesheets take priority :( */
      outline: 3px solid var(--mui-palette-common-white) !important;
    }
  }

  img {
    /* prevent phantom extra pixels at bottom */
    display: block;
  }
}

/* using light-dark() will trigger lightningcss which doesn't work for 
    whatever reason. I don't care to troubleshoot. */
@media (prefers-color-scheme: dark) {
  button.whRolledDie.selected {
    background: var(--mui-palette-primary-dark);
  }
}


.whDiceContainer {
  display: flex;
  /* space between dice */
  column-gap: 0.5rem
}
