/*****
Still figuring out the best way to deal with css and MUI styling.

********/
body {
  height: 100vh;
}
main {
  height: 100%;
  background-color: color-mix(in srgb, 
    var(--mui-palette-info-main) 10%, 
    var(--mui-palette-background-default) 90%);
  padding-block: 1rem;

  /* center the content */
  display: flex;
  align-items: center;
}
#kismet-game-container {
  /* don't let it collapse with flex */
  flex-grow: 1;

  padding: 1rem;
  margin-inline: auto;
  max-width: 40rem;
  max-height: 100%;
  background-color: var(--mui-palette-info-light);
  color: var(--mui-palette-info-contrastText);

  overflow: auto;
}

@media (min-height: 65rem) {
  #kismet-game-container {
    max-height: 65rem;
  }
} 

#working-hand-body {
  display: flex;
  /* TODO: use theme spacing */
  gap: 0.5rem 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; 
}

.wh-rolled-die {
  /* remove default button styling */
  &button {
    padding: 0px;
    border: 0;
    background-color: unset;
  }

  img {
    /* prevent phantom extra pixes at bottom */
    display: block;
  }
  
  &.selected {
    /* outline color specified in JS, and the selected class 
    toggles the width/style (all are needed) */
    outline-width: 2px;
    outline-style: solid;
  }
}

 .wh-dice-container {
  display: flex;
  /* space between dice */
  column-gap: 0.5rem
}
