/*****
Still figuring out the best way to deal with css and MUI styling.

********/
/* NOTE: the current app is about 52 rem tall, heights should be
   adjusted if this hanges */
:root {
  --app-height: 52rem;
  --max-app-container-height: 65rem;
}
   
body {
  height: 100vh;
}
main {
  height: 100%;
  background-color: color-mix(in srgb, 
    var(--mui-palette-info-main) 10%, 
    var(--mui-palette-background-default) 90%);
  padding-block: 1rem;

  /* center the content */
  display: flex;
  align-items: center;
}

#kismet-toolbar {
  margin: -1rem -1rem 0 -1rem;
  width: calc(100% + 2rem);
}

#kismet-game-container {
  /* don't let it collapse with flex */
  flex-grow: 1;

  padding: 1rem;
  margin-inline: auto;
  max-width: 40rem;
  max-height: 100%;

  /* this is needed because the gradient bottom is dark */
  color: var(--mui-palette-info-contrastText);

  overflow: auto;
  background:
  radial-gradient(
    ellipse at 50% 35%,
    rgba(255 255 255 / 40%) 0%,
    rgba(255 255 255 / 25%) 40%,
    transparent 65%
  ),

  linear-gradient(
    to bottom,
    hsl(210, 85%, 82%) 0%,      /* bright blue atmosphere */
    hsl(208, 75%, 86%) 25%,     /* lighter #1976d2 */
    hsl(228, 70%, 68%) 55%,     /* soft periwinkle */
    hsl(255, 65%, 70%) 65%,     /* lifted purple */
    hsl(275, 70%, 68%) 70%,     /* just above horizon */
    hsl(234, 42%, 62%) 70%,     /* hard horizon */
    hsl(280, 55%, 55%) 100%     /* ground / below horizon */
  );
  
}
@media (prefers-color-scheme: light) {
  #kismet-game-container {
    background-color: var(--mui-palette-info-light);
  }
}
@media (prefers-color-scheme: dark) {
  #kismet-game-container {
    color: var(--mui-palette-text-primary);
    background:     
      radial-gradient(
        ellipse at 50% 35%,
        transparent 60%,
        rgb(0 0 0 /20%) 100%
      ),
      linear-gradient(
        to bottom,
        hsl(222, 65%, 35%) 0%,
        rgb(55, 135, 210) 25%,
        hsl(232, 58%, 46%) 45%,
        hsl(256, 51%, 39%) 60%,
        hsl(272, 51%, 43%) 70%,     /* just above horizon */
        hsl(269, 54%, 32%) 70%,     /* hard horizon at 70% */
        hsl(268, 54%, 24%) 100%     /* ground / below horizon */
      );
  }
}

@media (min-height: var(--max-app-container-height)) {
  #kismet-game-container {
    max-height: var(--max-app-container-height);
  }
} 

/* on short viewports, prevent hopping 
    between scrolling and no scrolling */
@media (max-height: var(--app-height)) {
  #kismet-game-container {
    height: 100%;
  }
}
