.sidelabels {
  width: 40%;
  col:first-child {
    min-width: 1.5rem;
  }
  col:nth-child(2) {
    border-left-width: 3px;
  }
  border-top-width: 0px;
  border-color: black;
  border-style: solid;
}
.scorecols > col{
  width: 10%
}


.section-results tr:last-child td {
  border-bottom-width: 3px;
}

#trad-scorecard {
  .results-section-label {
    text-align: right;
    padding-right: 1rem;
  }

  thead th {
    border-width: 0px;
  }

  td, th {
    padding-left: .5rem;
    padding-right: .5rem;
  }
  td.input-cell {
    padding-left: 0;
    padding-right: 0;
  }

  
  max-width: 800px;
   table {
    width: 100%;
    border-collapse: collapse;
    td {
      border: 1px solid black;
      input {
        width: 100%;
        border: 0px;
      }
      /* Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type=number] {
        -moz-appearance: textfield;
      }
    }
    td:first-child {
      width: 3rem;
    }
  }
  tbody {
    border-top: 3px solid black;
  }
  tfoot {
    border-top: 2px solid black; 
  }


}