$max-width: 800px;

.sidelabels {
  width: 40%;
  col:first-child {
    min-width: 1.5rem;
  }
  col:nth-child(2) {
    border-left-width: 3px;
  }
  border-top-width: 0px;
  border-color: black;
  border-style: solid;
}
.scorecols > col{
  width: 10%
}


.section-results tr:last-child td {
  border-bottom-width: 3px;
}

#trad-scorecard {
  .results-section-label {
    text-align: right;
    padding-right: 1rem;
  }

  thead th {
    border-width: 0px;
  }

  td, th {
    padding-left: .5rem;
    padding-right: .5rem;
  }
  td.input-cell {
    padding-left: 0;
    padding-right: 0;
  }

  
  max-width: $max-width;

   table {
    width: 100%;
    border-collapse: collapse;
    td {
      border: 1px solid black;

      &.possible-score {
        color: blue;
        background-color: rgba(224, 255, 255,.5);
        cursor:pointer;
      }
      &.good-score {
        background-color: rgb(224, 255, 255);
        font-weight: bold;
      }
      
      // the score cell input
      input {
        width: 100%;
        border: 0px;
      }
      /* Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type=number] {
        -moz-appearance: textfield;
      }
    }
    td:first-child {
      width: 3rem;
    }
  }
  tbody {
    border-top: 3px solid black;
  }
  tfoot {
    border-top: 2px solid black; 
  }


}
#working-hand-dice {
  display: flex;
  justify-content:center; 
  margin-right: 1rem;
}
#working-hand-controls {
  display: flex;
  align-items: center;
}
#working-hand-message {
  text-align:center;
}
#working-hand-body {
  display:flex;
  flex-flow: row;
  justify-content: center;
}
#working-hand-container {
  max-width: $max-width;
  padding: 1rem;

  .rolled-die {
    margin-right: .5rem;

    &.selected {
     border: 2px solid cyan; 
    }
    &.selectable {
      cursor: pointer;
    }
  }

  .disabled-hand-controls {
    visibility: hidden;
  }
}
